.wrapper{
  background-color: #efffaa;
  padding: 15px 25px;
  border-radius: 10px;
}

.title{
  font-size: 1.3em;
  font-weight: 600;
}

.description{
  word-spacing: 4px;
  line-height: 1.5;
  margin-top: 10px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.todoIcon{
  width: 30px;
  height: 30px;
}

.completedBG {
  background-color: #b3ffb3;
}

.incompleteButtonBG {
  background-color: #efffaa;
}

.incompleteButtonBG:hover {
  background-color: #fcff36;
}

.buttonsWrapper{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.todoHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dateTime{
  font-style: italic;
  color: rgb(117, 117, 117);
  align-self: start;
}