.wrapper{
  background-color: #aafcff;
  padding: 15px 25px;
  border-radius: 10px;
}

.title{
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.description{
  word-spacing: 4px;
  line-height: 1.5;
}