.incompleteButton {
  background-color: #feffaa;
  border: 1px solid #00da0b
}

:global(.dark) .incompleteButton {
  background-color: #9d9f00;
}


.incompleteButton:hover {
  background-color: #fcff36;
}

:global(.dark) .incompleteButton:hover {
  background-color: #babd00;
}